<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
    <%-include('partials/menu.html');%>
<body>
<section>
    <form action="/resultados" method="post" >        
        <div><label >Num. Recibo:</label></div>
        <div><input type="number" id="numRecibo" name="numRecibo" class="form-control" required="true" ></div>
        <div><label >Nombre:</label></div>
        <div><input type="text" id="nombre" name="nombre" class="form-control" required="true" ></div>
        <div><label >Domicilio:</label></div>
        <div><input type="text" id="domicilio" name="domicilio" class="form-control" required="true"></div>
        <div><label >Tipo de servicio:</label></div>
        <div><select name="tipoServicio" id="tipoServicio" class="form-select">
           <option value="1">Domestico</option>
           <option value="2">Comercial</option>
           <option value="3">Industrial</option>
       </select></div>
       <div><label >Kilowatts consumidos:</label></div>
       <div> <input type="number" id="kilowatts" name="kilowatts" class="form-control" required="true" ></div>
    
    <center>
    <button class="btn btn-primary" style="margin-top: 15px;" type="submit">Enviar informacion</button>
    <button class="btn btn-primary" style="margin-top: 15px;" type="reset" onclick="limpiarCampos()">Limpiar</button>
    </center>
    </form>

    </section>
    <%-include('partials/piePagina.html');%>
</body>
</html>

<style>
    *{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
}
nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;

}
section{
    flex: 70%;
    background-color: khaki;
    padding: 20px;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: palevioletred;
}
</style>