<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
    <%-include('partials/menu.html');%>
<body>
<section>

    <%  
    if(kilowatts!=0){
        var subtotal=0;
        var impuesto=0;
        var descuento=0;
        var total=0;
    
        if(tipoServicio==1){
            subtotal=Number(1.08)*Number(kilowatts);
        }else if(tipoServicio==2){
            subtotal= Number(2.5)*Number(kilowatts);
        }else if(tipoServicio==3){
            subtotal= Number(3)*Number(kilowatts);
        }
    
        if(kilowatts<=1000){
            descuento=(Number(subtotal)+Number(impuesto))*0.1;
        }else if(kilowatts>1000 && kilowatts <=10000){
        descuento=(Number(subtotal)+Number(impuesto))*0.2;
        }else if(kilowatts>10000){
        descuento=(Number(subtotal)+Number(impuesto))*0.5;
        }
        impuesto = subtotal*0.16; 
        total=Number(subtotal)+Number(impuesto)-Number(descuento);
    
                Servicio = ""
                costo = 0
                
                if(tipoServicio== 1){
                    servicio = "Domestico"
                    costo = 1.08;
                }
                else if(tipoServicio== 2){
                    servicio = "Comercial"
                    costo = 2.5;
                }
                else if(tipoServicio== 3){ 
                    servicio = "Industrial"
                    costo = 3.0;
                }
    }
    %>
    <table class="table table-hover">
        <tr>
            <th>Nombre</th>
            <th>Tipo Servicio</th>
            <th>Kilowatss Consumidos</th>
            <th>Costo por Kilowatts</th>
        </tr>
        <tr>
            <td><%=nombre%></td>
            <td><%=servicio%></td>
            <td><%=kilowatts%></td>
            <td><%=costo%></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Subtotal:</td>
            <td><%=subtotal%></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Impuesto:</td>
            <td><%=impuesto%></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Descuento:</td>
            <td><%=descuento%></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total a Pagar:</td>
            <td><%=total%></td>
        </tr>
    </table>




    </section>
    <%-include('partials/piePagina.html');%>
</body>

</html>

<style>
    *{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
}
nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;

}
section{
    flex: 70%;
    background-color: khaki;
    padding: 20px;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: palevioletred;
}
</style>